.venv/
virtualenv/
ENV/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.uv/
.ruff_cache/
.mypy_cache/
.pytest_cache/

**/*.egg-info/
.git/
.gitignore
.github/
README.md

docker-compose.yml
**/Dockerfile
