USED_COLLECTION_NAME="my_collection"
TOP_K=5


# generation_model_configs
GENERATION_MODEL_PROVIDER_URL="http://localhost:4000"
GENERATION_MODEL_ID="cohere-command"
GENERATION_MODEL_API_KEY=

MAX_INPUT_CHARACTERS=1024
MAX_OUTPUT_TOKENS=1000
TEMPERATURE=0.1


EMBEDDING_MODEL_SIZE=1024


# cache configs
REDIS_HOST=localhost
REDIS_PORT=6379
SEMANTIC_CACHE_SEARCH_INDEX_NAME=llmcache
CACHE_DISTANCE_THRESHOLD=0.1
CACHE_TTL=25200 #7-hours in seconds
