# vector DB configs
VECTORDB_PROVDER_NAME=qdrant
VECTORDB_PROVDER_URL=
VECTORDB_DISTANCE_METHOD=cosine


# embedding model settings
# EMBEDDING_MODEL_PROVIDER=
EMBEDDING_MODEL_PROVIDER_URL=
EMBEDDING_MODEL_ID=
EMBEDDING_MODEL_API_KEY=
EMBEDDING_SIZE=
